server {
    listen 80;
    listen [::]:80;

    server_name vps653313.ovh.net;
    root /home/lukasz/pages/default;
    index index.html;

    error_log /home/lukasz/pages/logs/vps653313.ovh.net_error.log;
    access_log /home/lukasz/pages/logs/vps653313.ovh.net_access.log;
}
