body {
    margin: 0;
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    height: 100vh;
}

#allDivs {
    position: relative;
    width: 500px;
    height: 400px;
}

.boxD {
    position: absolute;
    width: 100px;
    height: 100px;
    float: left;
    background: silver;
}

