@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/mixin";

.footer {
    background: $background;
    padding: 70px 0 50px 0;
    position: relative;
}

.footerContainer {
    @include containerPadding(16px);
    margin: auto;
    max-width: $max-width;
    color: #ffffff;
}
