.bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    //z-index: -1;
    background: url("../../../../assets/image/bg/bg.jpg") no-repeat left center ;
    background-size: contain;
}
